@import "../../common/variable.scss";
@import "../../common/function.scss";
@import "../../common/mixin.scss";

header{
    box-sizing: border-box;
    background-color: $bgHeader;
    padding: px-to-vw(30);
    @include flexbox; 
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: px-to-vw(100);
    z-index: 1;
    .logo_cont{
        width: px-to-vw(300);
        .logo-text{
      
            font-size: px-to-vw(24);
            a{
            text-decoration: none;
            cursor: pointer;
            color: $black;
            }

        }
    }
    .navigation-menus{
        width: calc(100% - px-to-vw(300));
    nav{
        @include flexbox;
        ul{
            margin: 0;
            padding-left: 0;
            width: 100%;
            @include flexbox;
            align-items: center;
            column-gap: px-to-vw(15);
            li{
                list-style: none;
                .nav-link{
                    padding: px-to-vw(15);
                    font-size: px-to-vw(30);
                    color: $black;
                    text-decoration: none;
                    cursor: pointer;
                    transition: background-color .2s ease-in-out;
                    border-radius: 4px;
                    &:hover{
                        background-color: rgba($color: #fff, $alpha: 0.5);
                    }
                }
            }
        }
    } 
    }
}