@import "../../common/variable.scss";
@import "../../common/function.scss";
@import "../../common/mixin.scss";


.services-container{
    padding-top: px-to-vw(100);
    .title{
        text-align: center;
        color: $black;
    }
}